<!DOCTYPE html>
<html>
    <head>
        <title>{{ response.code }} {{ response.message }}</title>
        <style>
            body { font: .8em/1.5 Arial, Tahoma, "Helvetica Neue", sans-serif; color: #444444; background-color: #fffedd; }
            pre { border: dashed 1px #dddcbb; padding: 0.5em;}
            .row { clear: both; padding: 0.5em 0; border-bottom: solid 1px #dddcbb; overflow: auto; }
            .label { float: left; min-width: 6em; font-weight: bold; margin-right: 1em; }
            .value { float: left; font-family: monospace; }
        </style>
    </head>
    <body>
        <h1>{{ response.code }} {{ response.message }}</h1>
    </body>
</html>
