# HTTP server workers quantity
workers = 1

# Server host and port
server_host = '127.0.0.1'
server_port = 8000

# Custom process title
#proctitle = 'geweb'

# Logger settings
logger = 'geweb'
logformat = u'%(asctime)s %(process)d %(filename)s:%(lineno)d:%(funcName)s %(levelname)s  %(message)s' # See help(logging) for details
logfile = None # Path to log file. If None, log will be written into stdout.
loglevel = 'debug' # error | warn | info | debug
#logrotate = 7 # Log rotation. Examples:
               #    7 or '7d' -- rotate each 7 days.
               #    '1h' -- rotate each 1 hour.
               #    '15m' -- rotate each 15 minutes.
#logcount = 0  # number of backup files to store.

# Domain
domain = 'example.com'

# Enabled applications list.
apps = []

# Path to templates
template_path = 'templates'

# Debug
debug = False

# File sessions
#session_backend = 'geweb.session.file.FileBackend'
#session_dir = '/tmp'

# Redis sessions
#session_backend = 'geweb.session.redis.RedisBackend'
#session_socket = 'tcp://127.0.0.1:6379'
#session_db = 0

session_cookie = 'sessid'
session_expires = 30 # days

# SMTP settings
#smtp_from = 'geweb@example.com'
#smtp_host = 'mail.example.com'
#smtp_port = 25

#smtp_auth_required = True
#smtp_login = ''
#smtp_password = ''

# Override settings by settings_local
try:
    from settings_local import *
except ImportError:
    pass
